<section id="show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h1><%= @tool.title %></h1>
        <h2>Day Rate: <u>$<%= @tool.price_per_day %></u></h2>

        <%= link_to "Rent Me", new_tool_booking_path(@tool, @booking), class: "btn btn-success" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3>insert image here</h3>
      </div>
    </div>
  </div>
</section>
