<section id="show">
  <div class="row vertical-align">
    <div class="col-xs-12 col-sm-6 col-md-6 vcenter">
      <h1><%= @tool.title %></h1>
      <h2>Day Rate: <u>$<%= @tool.price_per_day %></u></h2>
      <button type="button" class="btn btn-success">Rent Me</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <!--         <img src="https://source.unsplash.com/collection/2342139/400x700" alt="unsplash random image"> -->
      <div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/collection/2342139/400x700');">
      </div>

    </div>
  </div>
</section>
