<h1>My Bookings</h1>




<table>
  <th>
    <td>Tool</td>
    <td>User</td>
    <td>Start Date</td>
    <td>End Date</td>
  </th>
  <tr>
    <% current_user.bookings.each do |booking| %>
      <td><%= booking.tool.title%></td>
      <td><%= booking.user.email %></td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
    <% end %>
  </tr>
</table>


