<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
      <h2>Add a new booking</h2>
     </div>
  </div>
</div>

<%= render 'booking_form', booking: @booking, tool: @tool %>
