.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 50px;
}
.btn-margin{
  margin: 30px;
}

// company logos
.features{
  height: 30vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.features img {
  width: 200px;
}
.features h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.features p {
  font-size: 15px;
  font-weight: lighter;
}
