#show{
  text-align: center;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.show-card {
  height: 400px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  margin-right: 40px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  align-items: center;
  width:100%;
}

@media(max-width:767px) {
  .vertical-align {
    display: block;
  }
}

.review-img{
  width:80px;
}
#swiper-head img{
  width: 110%;
}
