<div class="box">
  <div class="cards-container">
    <h2 style="text-align:center">Here are all the tools</h2>
    <div class="row">
      <% @tools.each do |tool| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div id="card-body-1">
            <div class="card-category">
              <%= tool.title %>
            </div>
            <div class="card-avatar">
              <img src="images/jad.png" alt="" id="jad">
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map" style="position: relative; overflow: hidden;">
  </div>

</div>

<script>
  function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 52.5206, lng: 13.4098},
        scrollwheel: false,
        zoom: 8
      });
    }
  </script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Gmaps JavaScript -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>
