    <section class="main-block light-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="styled-heading">
              <h3>Recently Added Tools</h3>
            </div>
          </div>
        </div>
        <div class="row">
         <% @tools.first(3).each do |tool| %>
         <div class="col-lg-4 featured-responsive">
          <div class="featured-place-wrap">
            <img src="https://source.unsplash.com/collection/2342139/250x150" class="img-fluid" alt="#">
            <span class="featured-rating-orange">6.5</span>
            <div class="featured-title-box">

              <h6><%= link_to tool.title, tool_path(tool) %></h6>

              <p>3 Reviews</p> <span> • </span>
              <p><span>$$$</span>$$</p>
              <ul>
                <li><span class="icon-location-pin"></span>
                  <p>1301 Avenue, Brooklyn, NY 11230</p>
                </li>

              </ul>
              <div class="bottom-icons">
                <span class="ti-heart"></span>
                <span class="ti-bookmark"></span>
              </div>
            </div>

          </div>
        </div>
        <% end %>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="featured-btn-wrap">
            <a href="#" class="btn btn-danger">VIEW ALL</a>
          </div>
        </div>
      </div>
    </div>
  </section>
