<section id="root">
  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
    <div class="banner-content">
      <h1>Peer to peer tool rental</h1>
      <h3>Why buy a tool for a project when you can just rent it?</h3>
      <p>I want to...</p>
      <!-- <button type="button" class="btn btn-lg btn-warning"></button> -->
      <%= link_to 'Rent a tool', tools_path, class: 'btn btn-lg btn-margin btn-warning'%>
      <%= link_to 'Lend out a tool', tools_path, class: 'btn btn-lg btn-warning'%>
      <p>note to team: remind to change the route for lend out a tool</p>
      </button>


      </form>
    </div>
  </div>
</section>
