<section id="root">
  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
    <div class="banner-content">
      <h1>Peer to peer tool rental</h1>
      <h3>Why buy a tool for a project when you can just rent it?</h3>
      <p>I want to...</p>
      <input type="submit" class="btn btn-warning btn-lg" value="Rent a tool">
      <input type="submit" class="btn btn-warning btn-lg" value="Lend out a tool">


      </form>
    </div>
  </div>
</section>
