.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  padding-left: 25px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
}
.card-category {
  position: absolute;
}
.link-colour{
  color: white;
  background-color: black;
  padding: 5px;
  text-transform: uppercase;
}
