#tool-form{
  background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95)), url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
  height: 575px;
width: 430px;
background-size: cover;
margin-left: auto;
margin-right: auto;
border-top: solid 1px rgba(255,255,255,.5);
border-radius: 5px;
box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
overflow: hidden;
transition: all .5s ease;
}
.form-styling{
      width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255,255,255,.2);
}
.lable-style{
  font-weight: 400;
text-transform: uppercase;
font-size: 13px;
padding-left: 15px;
padding-bottom: 10px;
color: rgba(255,255,255,.7);
display: block;
}
.btn-add-tool {
    border-radius: 20px;
  }
.add-tool-form{
  width: 430px;
height: 375px;
font-size: 16px;
font-weight: 300;
padding-left: 37px;
padding-right: 37px;
padding-top: 124px;
transition: opacity .5s ease, -webkit-transform .5s ease;
transition: opacity .5s ease, transform .5s ease;
transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}
h3{
  padding-left: 10px;
font-size: 30px;
display: inline;
text-align: left;
text-transform: uppercase;
padding-right: 10px;
color: #ffffff;
}
